.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px 0;
}

.pokemon-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    flex: calc(33.33333% - 32px);
    max-width: calc(33.33333% - 32px);
    min-width: 250px;
}

.pokemon-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background: linear-gradient(135deg, #67c0e9, #6b2bff);
}

.pokemon-info {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon-name {
    font-size: 18pt;
    text-transform: capitalize;
}

.pokemon-type {
    border-radius: 25px;
    padding: 8px 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.type-electric {
    background: linear-gradient(135deg, #ffd900, #ccc900);
}

.type-grass {
    background: linear-gradient(135deg, #7ac74c, #4e8234);
}

.type-fire {
    background: linear-gradient(135deg, #ff7f0f, #cc5500);
}

.type-water {
    background: linear-gradient(135deg, #4592c4, #2a6ebd);
}

.type-normal {
    background: linear-gradient(135deg, #a8a77a, #6d6d4e);
}

.type-ghost {
    background: linear-gradient(135deg, #735797, #493963);
}

.type-psychic {
    background: linear-gradient(135deg, #a33ea1, #6d1b6d);
}

@media screen and (max-width: 900px) {
    .pokemon-card {
        flex: calc(50% - 32px);
        max-width: calc(50% - 32px);
    }
    
}

@media screen and (max-width: 548px) {
    .pokemon-card {
        flex: 100%;
        max-width: 100%;
    }
}